*{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;

}
#firstTitle {
text-align: center;
border-top: 3px double rgb(35, 109, 170);
border-bottom: 6px solid rgb(35, 109, 170) ;
border-right: 6px solid rgb(223, 223, 86);
border-left: 2px solid rgb(23, 23, 160);
text-shadow: 2px 2px 3px;
padding: 10px;
background-color: rgb(235, 229, 229);
margin-left: 830px;
margin-right:830px ;
margin-top: 40px;
}
header {
    margin-top: 30px;
}
.images img {
    height: 250px;
    border: 4px dotted rgb(38, 179, 38);
    margin: 130px;
    padding: 10px;
}
#boxer:hover {
    height: 240px;
}
#bulldog:hover {
    height: 240px;
}
#doga:hover {
    height: 240px;
}
.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boxes div {
    border: 4px dashed black;
    font-size: 30px;
    padding: 10px;
    color: white;
    background-color: green;
    margin-bottom: 50px;
}
#contentBox {
    background-clip: content-box;
}
#paddingBox {
    background-clip: padding-box;
}
#borderBox {
    background-clip: border-box;
}
.main {
    border-bottom: 3px dashed rgb(122, 16, 51);
}
h5 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    
}
table {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border-spacing: 0;
width: 300px;
}
td {
    float: right;
    color: white;
}
#row1 {
    background-color: rgb(18, 18, 168);
}
#row2 {
    background-color: rgb(17, 69, 167);
}
#row3 {
    background-color: rgb(37, 98, 189);
}
#row4 {
    background-color: rgb(45, 101, 185);
}
#row5 {
    background-color: rgb(36, 149, 214);
}
#row6 {
    background-color: rgb(81, 175, 238);
}
#row7 {
    background-color: rgb(120, 198, 250);
}
#row8 {
    background-color: rgb(36, 167, 123);
}
#row9 {
    background-color: rgb(241, 188, 234);
}
#row10 {
    background-color: rgb(214, 158, 202);
}
#row11 {
    background-color: rgb(177, 109, 177);
}
#row12 {
    background-color: rgb(184, 96, 196);
}
#row13 {
    background-color: rgb(175, 68, 170);
}
#row14 {
    background-color: rgb(170, 66, 147);
}
#row15 {
    background-color: rgb(153, 28, 153);
}